div{
max-width: 300px;
}
#display{
background-color: #222;
height: 40px;
margin-bottom: 5px;
width: 100%;
padding: 0px

}

li {
list-style: none;
height: 40px;
}
ul {
display: flex;
width: 100%;
flex-wrap:wrap;
padding: 0px;
margin: 0px;
}
.number li{
width: 24%;
margin:0.5%;
}
 input{
width: 100%;
border-radius: 5px;
height: 100%;
font-size: 23px;
font-weight: bold;
}
.AC li{
width: 49%;
margin: 0.5%
}
